{ 
  "extends": "airbnb",
  "rules": {
      "jsx-quotes": ["error", "prefer-single"],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/require-default-props": [0, { forbidDefaultForRequired: true }],
      "react/forbid-prop-types": [0, { "forbid": [<string>], "checkContextTypes": <boolean>, "checkChildContextTypes": <boolean> }]
  }
}